@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
    
    height: 100% ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  html, body {
    margin: 0; /* Remove any default margin */
    height: auto;
    background-color: #7dd3fc;
    

}
